<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Smart Agriculture - Plateforme Intelligente d'Aide à la Décision Agricole">

    <!-- ========== Titre de la Page ========== -->
    <title>Smart Agriculture - À Propos</title>

    <!-- ========== Favicon ========== -->
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
</head>

<body>

    <!-- Preloader Start -->
    <div class="se-pre-con"></div>
    <!-- Preloader Ends -->

    <app-header></app-header>

    <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area text-center shadow dark bg-fixed text-light" style="background-image: url(assets/img/banner/188.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>À Propos de Nous</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li><a href="index.html"><i class="fas fa-home"></i> Accueil</a></li>
                            <li class="active">À Propos</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start About 
    ============================================= -->
    <div class="about-style-one-area default-padding">

        <!-- Shape -->
        <div class="shape-right-top">
            <img src="assets/img/shape/leaf.png" alt="Image non trouvée">
        </div>
        <!-- End Shape -->

        <div class="container">
            <div class="row align-center">
                <div class="col-xl-5 col-lg-6 about-style-one pr-50 pr-md-15 pr-xs-15">
                    <div class="thumb">
                        <img src="assets/img/about/5.jpg" alt="Image non trouvée">
                        <div class="sub-item">
                            <img src="assets/img/about/1.jpg" alt="Image non trouvée">
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-6 about-style-one">
                    <div class="row align-center">
                        <div class="col-xl-7 col-lg-12">
                            <h2 class="heading">L'Agriculture au Service <br> du Futur</h2>
                            <p>
                                Smart Agriculture est une plateforme intelligente qui combine l'intelligence artificielle, l'expertise humaine et la digitalisation des services agricoles. Notre objectif est d'améliorer la prise de décision, de détecter les maladies des cultures et d'assurer un suivi transparent des prestations agricoles.
                            </p>
                            <ul class="check-solid-list mt-20">
                                <li>Détection précoce des maladies des cultures par IA</li>
                                <li>Mise en relation agriculteurs, experts et fournisseurs</li>
                                <li>Suivi transparent des prestations avec photos/vidéos</li>
                            </ul>
                        </div>
                        <div class="col-xl-5 col-lg-12 pl-50 pl-md-15 pl-xs-15">
                            <div class="top-product-item">
                                <img src="assets/img/icon/1.svg" alt="Icône">
                                <h5><a href="#">Agriculture Digitale</a></h5>
                                <p>
                                    Gérez vos besoins agricoles facilement grâce à notre interface intuitive.
                                </p>
                            </div>
                            <div class="top-product-item">
                                <img src="assets/img/icon/2.svg" alt="Icône">
                                <h5><a href="#">Expertise par IA</a></h5>
                                <p>
                                    Bénéficiez de diagnostics intelligents et de recommandations précises.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About -->

    <!-- Start Team / Acteurs 
    ============================================= -->
    <div class="farmer-area default-padding bottom-less bg-gray" style="background-image: url(assets/img/shape/36.html);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h5 class="sub-title">Nos Acteurs</h5>
                        <h2 class="title">Les Utilisateurs de la Plateforme</h2>
                        <div class="devider"></div>
                        <p>
                            Notre plateforme connecte trois types d'acteurs clés pour une <br> gestion agricole intelligente et collaborative.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="row">

                        <!-- Single Item -->
                        <div class="col-lg-4 farmer-stye-one">
                            <div class="farmer-style-one-item">
                                <div class="thumb">
                                    <img src="assets/img/farmers/1.jpg" alt="Agriculteur">
                                    <div class="social">
                                        <i class="fas fa-share-alt"></i>
                                        <ul>
                                            <li class="facebook">
                                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                            </li>
                                            <li class="twitter">
                                                <a href="#"><i class="fab fa-twitter"></i></a>
                                            </li>
                                            <li class="linkedin">
                                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="info">
                                    <span>🧑‍🌾 Agriculteur</span>
                                    <h4><a href="#">Mohamed Ben Ali</a></h4>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->

                        <!-- Single Item -->
                        <div class="col-lg-4 farmer-stye-one">
                            <div class="farmer-style-one-item">
                                <div class="thumb">
                                    <img src="assets/img/farmers/2.jpg" alt="Expert Agricole">
                                    <div class="social">
                                        <i class="fas fa-share-alt"></i>
                                        <ul>
                                            <li class="facebook">
                                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                            </li>
                                            <li class="twitter">
                                                <a href="#"><i class="fab fa-twitter"></i></a>
                                            </li>
                                            <li class="linkedin">
                                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="info">
                                    <span>👨‍🔬 Expert Agricole</span>
                                    <h4><a href="#">Dr. Fatma Karray</a></h4>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->

                        <!-- Single Item -->
                        <div class="col-lg-4 farmer-stye-one">
                            <div class="farmer-style-one-item">
                                <div class="thumb">
                                    <img src="assets/img/farmers/3.jpg" alt="Fournisseur">
                                    <div class="social">
                                        <i class="fas fa-share-alt"></i>
                                        <ul>
                                            <li class="facebook">
                                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                            </li>
                                            <li class="twitter">
                                                <a href="#"><i class="fab fa-twitter"></i></a>
                                            </li>
                                            <li class="linkedin">
                                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="info">
                                    <span>🚚 Fournisseur</span>
                                    <h4><a href="#">Sami Trabelsi</a></h4>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Team / Acteurs -->

    <!-- Start Processus de la Plateforme
    ============================================= -->
    <div class="process-area default-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 process-style-one">
                    <h5 class="sub-title">Processus</h5>
                    <h2 class="title">Comment fonctionne <br> notre plateforme ?</h2>
                    <div class="call-to-action mt-45">
                        <div class="icon">
                            <i class="fas fa-user-headset"></i>
                        </div>
                        <div class="info">
                            <span>Assistance rapide</span>
                            <h4><a href="tel:+21671000000">+216 71 000 000</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 process-style-one">
                    <div class="row">
                        <div class="shape">
                            <img src="assets/img/shape/35.html" alt="Image non trouvée">
                        </div>

                        <div class="col-lg-4">
                            <div class="nav nav-tabs order-process-tab-navs" id="nav-tab" role="tablist">
                                <button class="nav-link" id="nav-id-1" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab" aria-controls="tab1" aria-selected="true">
                                    <span>Étape - 01</span>
                                    <strong>Agriculteur</strong>
                                </button>
                                <button class="nav-link active" id="nav-id-2" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab" aria-controls="tab2" aria-selected="false">
                                    <span>Étape - 02</span>
                                    <strong>Expert & IA</strong>
                                </button>
                            </div>
                        </div>

                        <div class="col-lg-8">
                            <div class="tab-content order-process-tab-content" id="nav-tabContent">
                                <!-- Single Item -->
                                <div class="tab-pane fade" id="tab1" role="tabpanel" aria-labelledby="nav-id-1">
                                    <h3 class="title">Saisie du besoin agricole</h3>
                                    <p>
                                        L'agriculteur crée son besoin sur la plateforme en décrivant son problème et en soumettant des photos de ses cultures. Le module IA analyse automatiquement les informations et classifie le niveau de risque.
                                    </p>
                                    <ul>
                                        <li>Saisie simple et intuitive du besoin</li>
                                        <li>Analyse automatique par intelligence artificielle</li>
                                    </ul>
                                </div>
                                <!-- End Single Item -->

                                <!-- Single Item -->
                                <div class="tab-pane fade show active" id="tab2" role="tabpanel" aria-labelledby="nav-id-2">
                                    <div class="row align-center">
                                        <h3 class="title">Validation et recommandations</h3>
                                        <p>
                                            L'expert agricole valide le diagnostic IA, propose des recommandations de traitement adaptées. Les fournisseurs certifiés soumettent ensuite leurs offres et réalisent les prestations avec un suivi photo/vidéo.
                                        </p>
                                        <ul>
                                            <li>Validation experte du diagnostic IA</li>
                                            <li>Suivi transparent avant/après intervention</li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- End Single Item -->

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Processus -->

    <!-- Start Testimonials 
    ============================================= -->
    <div class="testimonials-area default-padding bg-gray" style="background-image: url(assets/img/shape/23.png);">
        <div class="container">
            <div class="row align-center">
                <div class="col-lg-5">
                    <div class="testimonial-info text-center">
                        <h4>Témoignages</h4>
                        <div class="thumb">
                            <img src="assets/img/farmers/1.jpg" alt="Image non trouvée">
                            <img src="assets/img/farmers/4.jpg" alt="Image non trouvée">
                            <img src="assets/img/farmers/2.jpg" alt="Image non trouvée">
                            <img src="assets/img/farmers/3.jpg" alt="Image non trouvée">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <div class="testimonial-carousel testimonial-style-one swiper">
                        <div class="swiper-wrapper">
                            <!-- Single item -->
                            <div class="swiper-slide">
                                <div class="testimonial-style-two">
                                    <div class="item">
                                        <div class="content">
                                            <p>
                                                "Grâce à Smart Agriculture, j'ai pu détecter une maladie sur mes oliviers bien avant qu'elle ne se propage. Le diagnostic de l'IA confirmé par l'expert m'a permis d'agir rapidement et de sauver ma récolte. Une plateforme indispensable pour tout agriculteur moderne."
                                            </p>
                                        </div>
                                        <div class="provider">
                                            <div class="info">
                                                <h4>Mohamed Ben Ali</h4>
                                                <span>Agriculteur, Sfax</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single item -->
                            <!-- Single item -->
                            <div class="swiper-slide">
                                <div class="testimonial-style-two">
                                    <div class="item">
                                        <div class="content">
                                            <p>
                                                "En tant que fournisseur de produits phytosanitaires, cette plateforme m'a ouvert de nouvelles opportunités. Je reçois des demandes ciblées et je peux soumettre mes offres directement aux agriculteurs qui en ont besoin. Le suivi photo/vidéo renforce la confiance des clients."
                                            </p>
                                        </div>
                                        <div class="provider">
                                            <div class="info">
                                                <h4>Sami Trabelsi</h4>
                                                <span>Fournisseur Agricole, Tunis</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single item -->
                            <!-- Single item -->
                            <div class="swiper-slide">
                                <div class="testimonial-style-two">
                                    <div class="item">
                                        <div class="content">
                                            <p>
                                                "La plateforme facilite énormément mon travail d'expert. Je reçois les demandes avec toutes les informations nécessaires, je valide les diagnostics IA et je fournis mes recommandations. Un outil professionnel qui améliore la qualité du conseil agricole."
                                            </p>
                                        </div>
                                        <div class="provider">
                                            <div class="info">
                                                <h4>Dr. Fatma Karray</h4>
                                                <span>Experte Agricole, Sousse</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonials -->

    <!-- Start Pourquoi Nous Choisir 
    ============================================= -->
    <div class="choose-us-style-one-area overflow-hidden default-padding">
        <div class="container">
            <div class="row align-center">
                <div class="col-lg-6 choose-us-style-one">
                    <div class="thumb">
                        <img src="assets/img/about/1.jpg" alt="Image non trouvée">
                        <div class="shape">
                            <img class="wow fadeInDown" src="assets/img/shape/22.png" alt="Image non trouvée">
                        </div>
                        <div class="product-produce">
                            <div class="icon">
                                <i class="flaticon-farmer"></i>
                            </div>
                            <div class="fun-fact">
                                <div class="counter">
                                    <div class="timer" data-to="258" data-speed="2000">258</div>
                                    <div class="operator">+</div>
                                </div>
                                <span class="medium">Agriculteurs & Fournisseurs connectés</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 choose-us-style-one">
                    <h5 class="sub-title">Pourquoi nous choisir</h5>
                    <h2 class="title">L'agriculture intelligente <br> au service de votre succès</h2>
                    <div class="accordion accordion-regular mt-35" id="faqAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Comment fonctionne la détection des maladies par IA ?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p>
                                        L'agriculteur soumet une photo de sa culture via la plateforme. Notre module IA analyse l'image, identifie la maladie potentielle et classifie le niveau de risque. Un expert agricole valide ensuite le diagnostic et propose des recommandations de traitement adaptées.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Comment choisir un fournisseur sur la plateforme ?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p>
                                        Après validation de votre besoin par un expert, les fournisseurs certifiés soumettent leurs offres. Vous pouvez comparer les prix, les délais et les évaluations, puis choisir le prestataire qui correspond le mieux à vos attentes.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Comment est assuré le suivi des prestations ?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p>
                                        Le fournisseur soumet des photos et vidéos avant et après l'intervention. L'agriculteur peut suivre l'évolution des travaux en temps réel sur la plateforme, garantissant une transparence totale tout au long de la prestation.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Pourquoi Nous Choisir -->

    <app-footer></app-footer>

</body>
</html>