<html>
<div class="wrapper">

  <app-menu></app-menu>
  <app-header></app-header>

  <div id="content-page" class="content-page">
    <div class="container-fluid">

      <div class="iq-card">
        <div class="iq-card-header d-flex justify-content-between align-items-center">
              <div class="iq-header-title">
                <h4 class="card-title">Liste des Fournisseurs</h4>
              </div>
              <a
                routerLink="/ajouterFournisseur"
                class="btn btn-primary">
                Ajouter
              </a>
            </div>
        <div class="iq-card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>Téléphone</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fournisseur of listeFournisseurs">
                <td>{{ fournisseur.nom }}</td>
                <td>{{ fournisseur.prenom }}</td>
                <td>{{ fournisseur.email }}</td>
                <td>{{ fournisseur.adresse }}</td>
                <td>{{ fournisseur.tlf }}</td>
                <td>
                  <a class="btn btn-success btn-sm" 
                      href="/modifierFournisseur/{{fournisseur.id}}">
                        Modifier
                      </a>
                  <button class="btn btn-danger btn-sm"
                          (click)="deleteFournisseur(fournisseur)">
                    Supprimer
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
</html>