<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Agrul - Inscription">

    <title>Agrul - Inscription</title>

    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
</head>

<body>

    <!-- Preloader -->
    <div class="se-pre-con"></div>

    <app-header></app-header>

    <!-- Fil d’Ariane -->
    <div class="breadcrumb-area text-center shadow dark bg-fixed text-light"
         style="background-image: url(assets/img/banner/18.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>Inscription</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li>
                                <a href="index.html">
                                    <i class="fas fa-home"></i> Accueil
                                </a>
                            </li>
                            <li class="active">Inscription</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Fil d’Ariane -->

    <!-- Zone Inscription -->
    <div class="contact-area default-padding"
         style="background-image: url(assets/img/shape/28.png);">
        <div class="container">
            <div class="row align-center">

                <!-- Formulaire Inscription -->
                <div class="col-lg-7 mb-md-50">
                    <div class="contact-form-style-one">
                        <h5 class="sub-title">Créer un compte</h5>
                        <h2 class="heading">Rejoignez Agrul</h2>

            <form [formGroup]="fournisseurForm" (ngSubmit)="addNewFournisseur()">

                <div class="form-row">

                  <div class="col-md-6 mb-3">
                    <label>Nom</label>
                    <input class="form-control" formControlName="nom">
                  </div>

                  <div class="col-md-6 mb-3">
                    <label>Prénom</label>
                    <input class="form-control" formControlName="prenom">
                  </div>

                  <div class="col-md-6 mb-3">
                    <label>Email</label>
                    <input type="email" class="form-control" formControlName="email">
                  </div>

                  <div class="col-md-6 mb-3">
                    <label>Mot de passe</label>
                    <input type="password" class="form-control" formControlName="mdp">
                  </div>

                  <div class="col-md-6 mb-3">
                    <label>Adresse</label>
                    <input class="form-control" formControlName="adresse">
                  </div>

                  <div class="col-md-6 mb-3">
                    <label>Téléphone</label>
                    <input class="form-control" formControlName="tlf">
                  </div>

                </div>

                <button class="btn btn-primary" type="submit">
                  Ajouter
                </button>

              </form>
                    </div>
                </div>

                <!-- Infos à droite -->
                <div class="col-lg-5 pl-60 pl-md-15 pl-xs-15">
                    <div class="contact-style-one-info">
                        <h2>
                            Déjà inscrit ?
                            <span>
                                Connectez-vous
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 500 150"
                                     preserveAspectRatio="none">
                                    <path d="M14.4,111.6c0,0,202.9-33.7,471.2,0"></path>
                                </svg>
                            </span>
                        </h2>

                        <p>
                            Vous avez déjà un compte ?
                            Connectez-vous pour accéder à votre espace personnel.
                        </p>

                        <a href="/loginFournisseur" class="btn btn-theme">
                            Se connecter
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Fin Inscription -->

    <app-footer></app-footer>

</body>
</html>
