<!doctype html>
<html lang="en">
   
<head>
   </head>
   <body>
      <!-- loader Start -->
      <!-- loader END -->
      <!-- Wrapper Start -->
      <div class="wrapper">
         <!-- Sidebar  -->
         <app-menu></app-menu>
         <app-header></app-header>
         <!-- Page Content  -->
         <div id="content-page" class="content-page">
            <div class="container-fluid">
               <div class="row content-body">
                  <div class="col-lg-12 row m-0 p-0">
                     <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                           <div class="iq-card-body">
                              <div class="icon iq-icon-box iq-bg-primary rounded" data-wow-delay="0.2s">
                                 <i class="ri-cpu-line"></i>
                              </div>
                              <div class="mt-4">
                                 <h5 class="text-black text-uppercase">Administrateur</h5>
                                 <h3 class="d-flex text-primary"> {{totalAdmin}}<i class="ri-arrow-up-line"></i></h3>
                              </div>
                              <div class="mt-3">
                                 <div class="iq-progress-bar-linear d-inline-block mt-1 w-100">
                                    <div class="iq-progress-bar">
                                       <span class="bg-primary" data-percent="65"></span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                           <div class="iq-card-body">
                              <div class="icon iq-icon-box iq-bg-danger rounded" data-wow-delay="0.2s">
                                 <i class="ri-window-line"></i>
                              </div>
                              <div class="mt-4">
                                 <h5 class="text-black text-uppercase">Client</h5>
                                 <h3 class="d-flex text-danger"> {{totalClient}}<i class="ri-arrow-down-line"></i></h3>
                              </div>
                              <div class="mt-3">
                                 <div class="iq-progress-bar-linear d-inline-block mt-1 w-100">
                                    <div class="iq-progress-bar">
                                       <span class="bg-danger" data-percent="85"></span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                           <div class="iq-card-body">
                              <div class="icon iq-icon-box iq-bg-primary rounded" data-wow-delay="0.2s">
                                 <i class="ri-u-disk-line"></i>
                              </div>
                              <div class="mt-4">
                                 <h5 class="text-black text-uppercase">Expert Agricole</h5>
                                 <h3 class="d-flex text-primary"> {{totalExpert}}<i class="ri-arrow-up-line"></i></h3>
                              </div>
                              <div class="mt-3">
                                 <div class="iq-progress-bar-linear d-inline-block mt-1 w-100">
                                    <div class="iq-progress-bar">
                                       <span class="bg-primary" data-percent="36"></span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                           <div class="iq-card-body">
                              <div class="icon iq-icon-box iq-bg-danger rounded" data-wow-delay="0.2s">
                                 <i class="ri-global-line"></i>
                              </div>
                              <div class="mt-4">
                                 <h5 class="text-black text-uppercase">Fournisseur</h5>
                                 <h3 class="d-flex text-danger"> {{totalFournisseur}}<i class="ri-arrow-down-line"></i></h3>
                              </div>
                              <div class="mt-3">
                                 <div class="iq-progress-bar-linear d-inline-block mt-1 w-100">
                                    <div class="iq-progress-bar">
                                       <span class="bg-danger" data-percent="48"></span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">                                  
                <div class="col-md-12">
                    <div class="charts-wrapper">
                        <div class="chart-container">
                            <canvas id="percentageCanvas" width="350" height="350"></canvas>
                        </div>                                            
                    </div>
                </div>
            </div>
         </div>
      </div>
      <!-- Wrapper END -->
      <app-footer></app-footer>
   </body>
</html>