
    <div class="se-pre-con"></div>

    <app-header></app-header>

    <!-- Fil d’Ariane -->
    <div class="breadcrumb-area text-center shadow dark bg-fixed text-light"
         style="background-image: url(assets/img/banner/18.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>Connexion</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li>
                                <a href="index.html">
                                    <i class="fas fa-home"></i> Accueil
                                </a>
                            </li>
                            <li class="active">Connexion</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Fil d’Ariane -->

    <!-- Zone Connexion -->
    <div class="contact-area default-padding"
         style="background-image: url(assets/img/shape/28.png);">
        <div class="container">
            <div class="row align-center">

                <!-- Formulaire Connexion -->
                <div class="col-lg-7 mb-md-50">
                    <div class="contact-form-style-one">
                        <h5 class="sub-title">Bon retour</h5>
                        <h2 class="heading">Connectez-vous à votre compte</h2>

                        <form class="mt-4" [formGroup]="loginForm" (ngSubmit)="login()">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input 
                                    type="email"
                                    class="form-control"
                                    id="email"
                                    placeholder="Entrer e-mail"
                                    formControlName="email">
                            </div>
                            <div class="form-group">
                                <label for="mdp">Mot de passe</label>
                                <input 
                                    type="password"
                                    class="form-control"
                                    id="mdp"
                                    placeholder="Entrer mot de passe"
                                    formControlName="mdp">
                            </div>

                            <button type="submit" class="btn btn-primary w-100 mt-3">
                                Connexion
                            </button>

                            <div class="bd-alter-sign mt-20">
                                <span [innerHTML]="this.messageCommande"></span>
                                <button type="button" class="bd-btn btn-google w-100" >
                                    <div id="g_id_signin"><img src="assets/img/google-icon.png" alt="Google" class="me-2" width="22"></div> 
                                    Se connecter avec Google
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Infos à droite -->
                <div class="col-lg-5 pl-60 pl-md-15 pl-xs-15">
                    <div class="contact-style-one-info">
                        <h2>
                            Nouveau ici ?
                            <span>
                                Rejoignez-nous
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 500 150"
                                     preserveAspectRatio="none">
                                    <path d="M14.4,111.6c0,0,202.9-33.7,471.2,0"></path>
                                </svg>
                            </span>
                        </h2>

                        <p>
                            Connectez-vous pour accéder à votre espace,
                            gérer vos informations et profiter des services Agrul.
                        </p>

                        <a href="/registreClient" class="btn btn-theme">
                            Créer un compte
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Fin Connexion -->

    <app-footer></app-footer>