<!-- Header -->
<header>
    
    <!-- Start Navigation -->
    <nav class="navbar mobile-sidenav inc-shape navbar-common navbar-sticky navbar-default validnavs">

        <!-- Start Top Search -->
        <div class="top-search">
            <div class="container-xl">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-search"></i></span>
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-addon close-search"><i class="fas fa-times"></i></span>
                </div>
            </div>
        </div>
        <!-- End Top Search -->

        <div class="container d-flex justify-content-between align-items-center">            

            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fas fa-bars"></i>
                </button>
                <a class="navbar-brand" routerLink="/">
                    <img src="assets/img/logo.png" class="logo" alt="Logo">
                </a>
            </div>
            <!-- End Header Navigation -->

            <!-- Main Nav -->
            <div class="main-nav-content">
                <div class="collapse navbar-collapse" id="navbar-menu">

                    <img src="assets/img/logo.png" alt="Logo">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fas fa-times"></i>
                    </button>
                    
                    <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                        <li>
                            <a href="/">Accueil</a>
                        </li>
                        <li>
                            <a href="/about">Qui sommes-nous?</a>
                        </li>
                        <li *ngIf="IsClientIn">
                            <a href="/ajouterBesoin">Ajouter un besoin</a>
                        </li>
                        <li>
                            <a href="/listeBesoin">Liste des besoins</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="attr-right">
                <a *ngIf="!IsClientIn && !IsFournisseurIn && !IsExpertIn"
                href="/loginClient"
                class="btn btn-theme connexion-btn">
                    <span>Connexion</span>
                </a>

                <button *ngIf="IsClientIn || IsFournisseurIn || IsExpertIn"
                        (click)="logout()"
                        class="btn btn-danger connexion-btn">
                    <span>Déconnexion</span>
                </button>

            </div>
 

                <!-- Overlay screen for menu -->
                <div class="overlay-screen"></div>
                <!-- End Overlay screen for menu -->

            </div>
            <!-- Main Nav -->

        </div>   
    </nav>
    <!-- End Navigation -->
</header>
<!-- End Header -->