<footer class="iq-footer">
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-6">
                  <ul class="list-inline mb-0">
                     <li class="list-inline-item">Smart Agriculture</li>
                     
                  </ul>
               </div>
               <div class="col-lg-6 text-right">
                  Developed by <span id="copyright"> 
<script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
</span> <a href="">Eya Meddeb</a> & <a href="">Zaineb Balegi</a>.
               </div>
            </div>
         </div>
</footer>