<div class="iq-sidebar">
   <div class="iq-sidebar-logo d-flex justify-content-between">
      <a href="index.html" class="header-logo">
         <img src="assets/images/logo.png" class="img-fluid rounded-normal" alt="">
         <div class="logo-title font-size-21 font-weight-500">
            <span class="smart-title">
               Smart Agriculture
            </span>
         </div>
      </a>
      <div class="iq-menu-bt-sidebar">
         <div class="iq-menu-bt align-self-center">
            <div class="wrapper-menu" (click)="toggleSidebar()">
               <div class="main-circle">
                  <i class="ri-arrow-left-s-line"></i>
               </div>
               <div class="hover-circle">
                  <i class="ri-arrow-right-s-line"></i>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div id="sidebar-scrollbar">
      <nav class="iq-sidebar-menu">
         <ul id="iq-sidebar-toggle" class="iq-menu">

            <!-- DASHBOARD -->
         <li>
            <a href="/home" class="iq-waves-effect">
               <i class="las la-home iq-arrow-left"></i>
               <span>Dashboard</span>
            </a>
         </li>

            <!-- ADMIN -->
            <li>
               <a href="#adminMenu" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false">
                  <i class="las la-users iq-arrow-left"></i>
                  <span>Admin</span>
                  <i class="ri-arrow-right-s-line iq-arrow-right"></i>
               </a>

               <ul id="adminMenu" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                  <li>
                     <a routerLink="/listeAdmin">
                     <i class="las la-list"></i>Liste Admin
                     </a>
                  </li>
                  <li>
                     <a routerLink="/ajouterAdmin">
                     <i class="las la-user-plus"></i>Ajouter Admin
                     </a>
                  </li>
               </ul>
            </li>


            <!-- CLIENT -->
            <li>
               <a href="#clientMenu" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false">
                  <i class="las la-users iq-arrow-left"></i>
                  <span>Client</span>
                  <i class="ri-arrow-right-s-line iq-arrow-right"></i>
               </a>
               <ul id="clientMenu" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                  <li>
                     <a href="/listeClient">
                        <i class="las la-list"></i>Liste Client
                     </a>
                  </li>
                  <li>
                     <a href="/ajouterClient">
                        <i class="las la-user-plus"></i>Ajouter Client
                     </a>
                  </li>
               </ul>
            </li>

            <!-- EXPERT AGRICOLE -->
            <li>
               <a href="#expertMenu" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false">
                  <i class="las la-user-check iq-arrow-left"></i>
                  <span>Expert Agricole</span>
                  <i class="ri-arrow-right-s-line iq-arrow-right"></i>
               </a>
               <ul id="expertMenu" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                  <li>
                     <a href="/listeExpert">
                        <i class="las la-list"></i>Liste Expert
                     </a>
                  </li>
                  <li>
                     <a href="/ajouterExpert">
                        <i class="las la-user-plus"></i>Ajouter Expert
                     </a>
                  </li>
               </ul>
            </li>

            <!-- FOURNISSEUR -->
            <li>
               <a href="#fournisseurMenu" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false">
                  <i class="las la-truck-loading iq-arrow-left"></i>
                  <span>Fournisseur</span>
                  <i class="ri-arrow-right-s-line iq-arrow-right"></i>
               </a>
               <ul id="fournisseurMenu" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                  <li>
                     <a href="/listeFournisseur">
                        <i class="las la-list"></i>Liste Fournisseur
                     </a>
                  </li>
                  <li>
                     <a href="/ajouterFournisseur">
                        <i class="las la-user-plus"></i>Ajouter Fournisseur
                     </a>
                  </li>
               </ul>
            </li>

            <!-- CONTACT -->
            <li>
               <a routerLink="/contact" class="iq-waves-effect">
                  <i class="las la-envelope iq-arrow-left"></i>
                  <span>Contact</span>
               </a>
            </li>

         </ul>
      </nav>
   </div>
</div>
